# Data Science Tools and Ecosystem

# Introduction

In this notebook, Data Science Tools and Ecosystem are summarized

1. Listed popular programming languages commonly used by Data Scientists.
2. Listed commonly used libraries that enhance the capabilities of Data Scientists.
3. Offered commentary on the diverse set of tools available in the Data Science field.

# Data science languages

Some of the commonly used libraries used by Data Scientists include:

1. Python
2. R
3. SQL
4. Java

# Data science libraries

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras
7. SciKit-Learn
8. PyTorch

# A table of Data Science tools


| Data Science Tools    |
|-----------------------|
| Jupyter Notebook      |
| RStudio               |
| VS Code (Visual Studio Code) |

In [10]:
### Below are a few examples of evaluating arithmetic expressions in Python.
code = compile("5 + 2", "<string>", "eval")
eval(code)
# Result: 7

7

In [11]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

In [13]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [14]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- Python
- R
- SQL

## Author

KANTUMUCHU ANUSHMONIKA